#dashboard{
  text-align: center;    
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100vh;
  border: none;
}

#mainBox{

}

.container{
  margin-left: 70vh;
}